<div style="padding: 50px;">
    <h1 class="text-2xl font-bold mb-6">ZapasPro</h1>
    <table class="table table-hover">
        <thead class="table-danger">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Stock</th>
                <th scope="col">Precio</th>
                <th scope="col">Imagen</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of producList; trackBy: trackByFn">
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td><input [(ngModel)]="item.nombre" class="border p-2" /></td>
                    <td><input [(ngModel)]="item.stock" type="number" class="border p-2" /></td>
                    <td><input [(ngModel)]="item.precio" type="number" class="border p-2" /></td>
                    <td>
                        <img width="50" height="60" [src]="item.imagen" alt="" />
                    </td>
                    <td>
                        <button 
                            (mouseenter)="setHovered(item.id)" 
                            (mouseleave)="setHovered(null)"
                            (click)="updateProduct(item)"
                            [ngClass]="{'bg-blue-500 text-white': hoveredProductId === item.id, 'bg-gray-200': hoveredProductId !== item.id}" 
                            class="px-4 py-2 rounded transition duration-300"
                        >
                            Actualizar
                        </button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <div *ngIf="message" class="mt-4 text-green-600">
        {{ message }}
    </div>
</div>
